@font-face {
    font-family: google;
    src: url(../fonts/ProductSans-Medium.ttf);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    animation: fade 0.4s;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar .logo{
    display: flex;
    margin: auto 50px;
}
.navbar img{
    width: 100px;
    border-radius: 50%;
}
.navbar h1{
    font-family: "google";
    align-items: center;
    display: flex;
    color:#252525;
}
.navbar h2{
    font-family: "google";
    font-size: 35px;
    display: flex;
    align-items: center;
    margin: auto 50px;
}
.highlight{
    color:#8f2b2b;
}
.card{
    width: 370px;
    border-radius: 5px;
    margin: 15px;
    box-shadow: -1px -1px 32px -6px rgba(0, 0, 0, 0.424);
} 
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container h1{
    text-align: center;
    font-family: "google";
    font-size: 40px;
    margin: 40px;
    display: block;
}
.container .card h2{
    font-family: "google";
    text-align: center;
    margin: 10px;
    color: #333333;
    font-size: 30px;

}

.container .card p{
    font-family: "google";
    text-align: center;
    font-size: 17px;
    margin: 16px;
    color: #363636;
}
.card .card-img{
    width: 370px;
    transition: 0.3s ease;
}
.card .card-img:hover{
    filter: brightness(90%);
}

.card button{
    margin:29px auto;
    display: block;
    font-size: 20px;
    background-color: black;
    font-family: "google";
    color:white;
    padding: 7px 12px;
    border-radius: 4px;
    border:2px solid black;
    cursor: pointer;
    transition: .2s ease;
}

.card button:active{
    transform: scale(1.09);
}
@media (max-width: 425px){
    .navbar img{
        width: 60px;
    }
    .navbar h1{
        font-size: 20px;
    }
    .navbar .logo{
        margin: auto 10px;
    }
    .navbar h2{
        font-size: 20px;
        width: 143px;
        margin: 8px;
    }
    .card{
        width: 340px;
    }
    .card .card-img{
        width: 340px;
    }

}
